/* Define default theme colors */
:root {
  --primary-color: #0f0; /* Example primary color */
  --secondary-color: #e52a01; /* Example secondary color */
  --background-color: #000; /* Example background color */
  --text-color: #fff; /* Example text color */
  --link-visited-color: #e52a01;
  --link-color: #0f0;
  --button-bg-color: #ccc;
  --button-hover-bg-color: #ddd;
  --button-active-bg-color: #ccc;
  --table-header-bg-color: #5d3b8e;
  --table-row-odd-bg-color: #412b58;
  --table-row-even-bg-color: #1a1a1a;
  --table-row-hover-bg-color: #302244;
  --accordion-bg-color: #777;
  --accordion-hover-bg-color: #555;
  --accordion-content-bg-color: #050505;
  --debug-border-color: cyan;
  --ruler-bg-color: #222;
  --ruler-border-color: skyblue;
  --overlay-bg-color: rgba(0, 0, 0, 0.5);
  --tab-bg-color: #f1f1f1;
  --tab-border-color: #ccc;
  --tab-content-border-color: #ccc;
  --top-btn-bg-color: red;
  --top-btn-hover-bg-color: #555;
  --collapsible-bg-color: #777;
  --collapsible-hover-bg-color: #555;
  --content-bg-color: #050505;
  --table-bg-color: #1a1a1a;
  --th-bg-color: #5d3b8e;
  --tr-odd-bg-color: #412b58;
  --tr-even-bg-color: #1a1a1a;
  --tr-hover-bg-color: #302244;
  --td-border-color: #333;
  --reward-icon-size: 20px;
  --styled-button-bg-color: #302244;
  --styled-button-hover-bg-color: #45a049;
  --styled-button-font-size: 16px;
  --theme-button-bg-color: #302244;
  --theme-button-hover-bg-color: #45a049;
  --theme-button-font-size: 16px;
  --dungeon-bg-color: #f1f1f1;
  --header: #ff8;
  --focus-image-text-color: #fff;
}


/**
Default styles for the App component
*/
.PathofExilePage{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

footer {
  padding: 1em;
  background-color: #282c34;
  color: white;
  text-align: center;
}

/**
* Theme Switcher
*/
.theme-switcher {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  background-color: #282c34;

}

.lightTheme {
  background-color: white;
  color: black;
}

.normalTheme {
  background-color: #f0f0f0;
  color: #333;
}

.darkTheme {
  background-color: #333;
  color: white;
}

.theme-buttons {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
}

.theme-button {
  background-color: var(--styled-button-bg-color);
  border: none;
  color: var(--styled-button-text-color); /* Variable for text color */
  height: 30px;
  width: 150px;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--theme-button-font-size); /* Variable for font size */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}


/**
Image Gallery
*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay img {
  max-height: 80%;
  max-width: 90%;
}

/**
* tabbed cheatsheet section
*/
.tabs button {
  padding: 10px;
  margin-right: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.tabs button.active {
  background-color: #ddd;
}

/**
* Navbar
*/
.navbar {
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
}

.expand-button-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap */
  justify-content: space-evenly; /* Distribute space between buttons */
}

.nav-button {
  padding: 6px 12px;
  margin: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

.nav-button-leveling {
  background-color: #28a745;
}

.collapse-expand-button {
  padding: 8px 16px;
  margin: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cheatsheet-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 400px;
  max-width: 1000px;
  justify-content: space-evenly; /* Distribute space between buttons */
}

/**
* Back to Top Button
*/

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.back-to-top-button.hidden {
  opacity: 0;
  pointer-events: none; /* Disable clicks when hidden */
}

.back-to-top-button.visible {
  opacity: 1;
}
