/**
Default styles for the App component
*/
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin: 1em;
}

footer {
  margin-top: 2em;
  padding: 1em;
  background-color: #282c34;
  color: white;
  text-align: center;
}

/**
* Theme Switcher
*/
.lightTheme {
  background-color: white;
  color: black;
}

.normalTheme {
  background-color: #f0f0f0;
  color: #333;
}

.darkTheme {
  background-color: #333;
  color: white;
}

.theme-buttons {
  display: flex;
  justify-content: space-evenly; /* Distribute items evenly with equal space between them and around them */
  max-width: 400px; /* Set the maximum width */
  
  margin: 0 auto; /* Center the container horizontally */
}

.theme-button {
  /* Your button styles */
}


/**
Image Gallery
*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay img {
  max-height: 80%;
  max-width: 90%;
}

/**
* tabbed cheatsheet section
*/
.tabs button {
  padding: 10px;
  margin-right: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.tabs button.active {
  background-color: #ddd;
}

/**
* Navbar
*/
.navbar {
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
}

.expand-button-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap */
  justify-content: space-evenly; /* Distribute space between buttons */
}

.nav-button {
  padding: 8px 16px;
  margin: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

.cheatsheet-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1000px;
  justify-content: space-evenly; /* Distribute space between buttons */
}

/**
* Back to Top Button
*/

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.back-to-top-button.hidden {
  opacity: 0;
  pointer-events: none; /* Disable clicks when hidden */
}

.back-to-top-button.visible {
  opacity: 1;
}
